.container {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 600px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.accordian {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  color: #fff;
}
.title:hover {
  background-color: #8e8888;
}
.no-data {
  padding: 10px;
  text-align: center;
}

.multi-seletion-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  margin: 10px;
  transition: background-color 0.3s;
}

.multi-seletion-btn:hover {
  background-color: #8e8888;
}
